#container{
    top: 0px;
left: 0px;
width: 83%;
margin: auto;
/* margin-top: 4%; */
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
border:1px solid purple
}
#banner{
    top: 0px;
left: 0px;
width: 100%;
background: transparent url('../Assets/banner\ image\ copy.jpg') 0% 0% no-repeat padding-box;
opacity: 1;
}
#group{
    top: 924px;
left: 0px;
width: 100%;
margin-top: -4px;
/* UI Properties */
background: transparent url('../Assets/Group\ 218.jpg') 0% 0% no-repeat padding-box;
opacity: 1;
}
#group_info{
    text-align: left;
    width: 40%;
    position: absolute;
    z-index: 1;
    left: 124px;
    top: 500px;
}
#group_info h1,#group_info p,#group_info h3{
    font: Aktifo A;
}

#rect{
width: 100%;
margin-top: -4px;
/* UI Properties */
background: #E5E5E5 0% 0% no-repeat padding-box;
opacity: 1;
}
#gsdigit{
width: 35%;
/* UI Properties */
background: transparent url('../Assets/GS_DIGITAL.jpg') 0% 0% no-repeat padding-box;
opacity: 1;
}
#gsdigit img{
width: 100%;
}
#whyus{
    width: 52%;
    
}
#footer{
    margin-top: -4px;
    width: 100%;
    background: #000;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
}
#footer div{
    width: 20%;
    margin: auto;
    margin-top: 40px;
}
#form{
    
    padding: 10px;
    width: 28%;
    left: 704px;
    top: 902px;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 2;
    transition: top 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
/* #whyus_child{
    width: 100%;
    margin: auto;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgb(40, 57, 15);
    
} */
/* #whyus_child div:nth-child(1){
    width:25%;
    height: 90%;
    margin: auto;
    border: 1px solid saddlebrown;
}
#whyus_child div:nth-child(2){
    width:65%;
    height: 90%;
    margin: auto;
    border: 1px solid saddlebrown;
} */
#form_div{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

@media only screen and (min-width: 1283px){
    #group_info{
        text-align: left;
        width: 45%;
        position: absolute;
        z-index: 1;
        left: 124px;
        top: 600px;
    }
}
@media only screen and (max-width: 901px) {
    #form_div{
        width: 90%;
        display: grid;
        margin: auto;
        gap: 2%;
    }
    #footer{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2px;
        height: auto;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    #group{
        margin-top: 250px;
    }
    #group_info{
        text-align: left;
        width: 80%;
        position: absolute;
        z-index: 1;
        left: 40px;
        top: 558px;
    }
    #form{
        
        left: 50px;
        width: 70%;
        margin:auto
    }
   
    #gsdigit{
        width: 90%;
        margin:auto ;
    }
    #whyus{
        width: 90%;
        margin:auto;
        height: 834px;
        background: #E5E5E5 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .font-link{
        right: 3%;
        top:20px;
    }
    #Avery-replace{
        width: 122px;
        height: 40px;
        top:20px;
        right: 55%;
        position: absolute;
        z-index: 2;
        background: transparent url('../Assets/Asset\ 3@4x-8@2x.jpg') 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .font-link-replace{
        width: 202px;
        top:65px;
        right: 35%;
        text-align: left;
        font: normal normal normal 20px/19px Aktifo A;
        letter-spacing: 0px;
        color: #000000;
        opacity: 4;
        position: absolute;
        z-index: 2;
    }
    .font-link-two-replace{
        width: 202px;
        top:160px;
        right: 35%;
    position: absolute;
    z-index: 2;
    text-align: left;
    font: normal normal 300 16px/18px Aktifo A;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
    }
    .font-link-child-replace{
        width: 180px;
    height: 52px;
    top:225px;
    right: 44%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    }
  }
label{
    text-align: left;
    font: normal normal normal 17px/14px Aktifo A;
    color: #000000;
    opacity: 4;
}
#form input{
    margin: 5px;
}
#Avery{
    width: 172px;
    height: 60px;
    top:30px;
    right: 72%;
   position: absolute;
   z-index: 2;
   background: transparent url('../Assets/Asset\ 3@4x-8@2x.jpg') 0% 0% no-repeat padding-box;
   opacity: 1;
}
.font-link {
    width: 502px;
    height: 200px;
    top:100px;
    right: 50%;
    text-align: left;
    font: normal normal normal 37px/50px Aktifo A;
    letter-spacing: 0px;
    color: #000000;
    opacity: 4;
   position: absolute;
   z-index: 2;
  }
 
.font-link-two{
    width: 502px;
    height: 82px;
    top:280px;
    right: 50%;
    position: absolute;
    z-index: 2;
    text-align: left;
    font: normal normal 300 26px/34px Aktifo A;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
}
.font-link-child{
    width: 502px;
    height: 102px;
    top:400px;
    right: 54%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
   
}
.font-link-child_fist{
    width: 20%;
    height: 100%;
    margin: auto;
}
.circle{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    background: #292929 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: auto;
}
.circle_div{
    text-align: center;
    font: normal normal normal 13px/14px Aktifo A;
    letter-spacing: 0px;
    color: #5D5D5D;
    opacity: 1;
    margin: auto;
    margin-top: 3%;
}

form h3{
    margin-left: 20px;
    text-align: left;
font: normal normal 600 24px/11px Aktifo A;
letter-spacing: 0px;
color: #000000;
opacity: 1;

}
form p{
    margin-left: 20px;
    text-align: left;
    font: normal normal normal 20px/20px Aktifo A;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
}
#Best_solution{
    text-align: left;
font: 16px Aktifo A;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 0.78;
margin-top: -1px;
}
.Dol{
    text-align: left;
     font: 18px Aktifo A;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 0.56;
margin-top: -2px;
}
.desc{
    text-align: left;
font: 13px Aktifo A;
letter-spacing: 0px;
color: #727272;
opacity: 1;
}